name: core
description: Doof Core
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.10.0 <3.11.0'
  flutter: '>=3.38.0 <3.39.0'
resolution: workspace

scripts:
  bootstrap: dart pub global activate rps 0.7.0

  core:generate-library: >-
    dart pub global activate index_generator 3.4.1 &&
    dart pub global run index_generator
  # To generate .g files:
  core:generate-code: dart run build_runner watch --delete-conflicting-outputs

  # Integration tools
  integration: rps check-format && rps analyze
  check-format: >-
    dart format --line-length 100 --set-exit-if-changed --output none
    $(find . ! -path "./.dart_tool/**" ! -path "./build/**" -name "*.dart" ! -name "*.g.dart")
  analyze: flutter analyze --no-fatal-infos

dependencies:
  flutter: { sdk: flutter }
  flutter_localizations: { sdk: flutter }

# DATA
  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
  path_provider: ^2.1.5

# DOMAIN
  mek_data_class: ^2.2.0
  json_annotation: ^4.9.0

  collection: ^1.19.1
  rxdart: ^0.28.0

  logging: ^1.3.0
  fast_immutable_collections: ^11.1.0
  get_it: ^9.2.0

# PRESENTATION
  intl: ^0.20.2
  flutter_riverpod: ^3.1.0
  go_router: ^17.0.1
  pull_to_refresh_plus: ^2.0.3
  cached_network_image: ^3.4.1
  reactive_forms: ^18.2.2

  mek: { path: ../../packages/mek_framework }
  mekart: { path: ../../packages/mekart }

dev_dependencies:
  mek_lints: ^6.0.1

  build_runner: ^2.10.4
  mek_data_class_generator: ^4.2.0
  json_serializable: ^6.11.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages

# Docs: https://pub:dev/packages/index_generator
index_generator:
  indexes:
    - path: lib
      exclude: [ '**.g.dart', '**/utils/**' ]

