name: app_button
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: '>=3.10.0 <3.11.0'
  flutter: '>=3.38.0 <3.39.0'
resolution: workspace

scripts:
  bootstrap: >-
    dart pub global activate rps 0.9.1 &&
    dart pub global activate flutterfire_cli 1.3.1 &&
    flutterfire configure --yes --out=lib/apis/firebase/firebase_options.dart

  run:server: flutter run -d web-server --web-port 8080 --web-hostname 0.0.0.0 --dart-define-from-file _/.env.json --web-renderer html # canvaskit

  # To generate .g files:
  app-button:generate-code: dart run build_runner watch --delete-conflicting-outputs
  # To generate assets: https://pub.dev/packages/mek_assets
  app-button:generate-assets: >-
    dart pub global activate mek_assets 1.1.1 &&
    dart pub global run mek_assets build
  # To generate launchers icons: https://pub.dev/packages/flutter_launcher_icons
  #    dart pub global run mek image --input=assets/logo.png --square=0x00000000
  build:icons: >-
    dart pub global run mek image --input=assets/logo.png --alpha=0xffffff --output=assets/logo_ios.png &&
    dart pub global activate flutter_launcher_icons 0.13.1 &&
    dart pub global run flutter_launcher_icons

  firebase:deploy: >-
    flutter build web --web-renderer canvaskit --dart-define-from-file=.env
    firebase deploy --only hosting

  # Integration tools
  integration: rds run check-format && rds run analyze
  check-format: rds global check-format
  analyze: rds global flutter:analyze

dependencies:
  flutter: { sdk: flutter }

  # DATA
  firebase_core: ^4.3.0
  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
  firebase_storage: ^13.0.5

  # DOMAIN
  mek_data_class: ^2.2.0
  json_annotation: ^4.9.0

  collection: ^1.19.1
  rxdart: ^0.28.0
  intl: ^0.20.2
  logging: ^1.3.0

  fast_immutable_collections: ^11.1.0

  # PRESENTATION
  flutter_riverpod: ^3.1.0
  go_router: ^17.0.1
  flutter_svg: ^2.2.3

  mobile_scanner: ^7.1.4

  # Move to external package
  reactive_forms: ^18.2.2
  reactive_phone_form_field: ^5.0.2

  core: { path: ../core }
  mek: { path: ../../packages/mek_framework }
  mekart: { path: ../../packages/mekart }

dev_dependencies:
  mek_lints: ^6.0.1

  build_runner: ^2.10.4
  mek_data_class_generator: ^4.2.0
  json_serializable: ^6.11.2
  go_router_builder: ^4.1.3

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    # mek_assets GENERATED CODE - DO NOT MODIFY BY HAND
    - assets/first_courses/gnocchi_riso.png
    - assets/first_courses/riso_cantonese.png
    - assets/first_courses/riso_gamberetti.png
    - assets/first_courses/riso_verdure_miste.png
    - assets/first_courses/spaghetti_udon.png
    - assets/first_courses/spaghetti_uovo.png
    - assets/logo.png
    - assets/logo_ios.png
    - assets/ravioli/ravioli_carne.png
    - assets/ravioli/ravioli_gamberi.png
    - assets/ravioli/ravioli_verdure.png
    - assets/ravioli/ravioli_xiao_long_bao.png
    - assets/svgs/app_logo.svg
    - assets/svgs/app_title.svg
    - assets/svgs/cart_empty.svg
    - assets/svgs/menu.svg
    - assets/svgs/table_service.svg
    - assets/svgs/table_service_requested.svg
    - assets/svgs/table_service_sticky.svg
    # mek_assets

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_icons:
  image_path: "assets/logo.png"
  android: true
  ios: true
  image_path_ios: "assets/logo_ios.png"
  web:
    generate: true
    background_color: "#ffffff"
    theme_color: "#ffffff"
  macos:
    generate: true

mek_assets:
  format: single
  page_width: 100
  groups:
    - input_dir: assets
      output_dir: lib/shared/data
      class_name: R
      output_file_name: r