name: mek_gasol
description: A new Flutter project.
version: 2.5.15+28
publish_to: "none"

environment:
  sdk: '>=3.10.0 <3.11.0'
  flutter: '>=3.38.0 <3.39.0'
resolution: workspace

# To execute scripts use rps package. To install it run "dart pub global activate rps 0.9.1"
scripts:
  bootstrap: dart pub global activate flutterfire_cli 1.0.0 &&
    flutterfire configure --yes --out=lib/apis/firebase/firebase_options.dart

  run:server: flutter run -d web-server --web-port 8080 --web-hostname 0.0.0.0 --dart-define-from-file _/.env.json --web-renderer html # canvaskit

  # To generate .g files:
  app-wook:generate-code: dart run build_runner watch --delete-conflicting-outputs
  # To generate assets: https://pub.dev/packages/mek_assets
  app-wook:generate-assets: >-
    dart pub global activate mek_assets 1.1.1 &&
    dart pub global run mek_assets build
  # To generate launchers icons: https://pub.dev/packages/flutter_launcher_icons
#    dart pub global run mek image --input=assets/logo.png --square=0x00000000
  app-wook:generate-icons: |-
    dart pub global run mek image --input=assets/logo.png --alpha=0xffffff --output=assets/logo_ios.png &&
    dart pub global activate flutter_launcher_icons 0.13.1 &&
    dart pub global run flutter_launcher_icons

  deploy: mek build version-check &&
    mek build web --wasm --dart-define-from-file=./_/.env.prod &&
    firebase deploy --only=hosting &&
    mek build version-update

  # Integration tools
  integration: rps check-format && rps analyze
  check-format: >-
    dart format --line-length 100 --set-exit-if-changed --output none
    $(find . ! -path "./.dart_tool/**" ! -path "./build/**" -name "*.dart" ! -name "*.g.dart")
  analyze: flutter analyze --no-fatal-infos

dependencies:
  flutter: { sdk: flutter }

# DATA
  firebase_core: ^4.3.0
  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
  firebase_storage: ^13.0.5

# DOMAIN
  mek_data_class: ^2.2.0
  json_annotation: ^4.9.0

  collection: ^1.19.1
  rxdart: ^0.28.0
  intl: ^0.20.2
  logging: ^1.3.0

  version: ^3.0.2
  fast_immutable_collections: ^11.1.0

# PRESENTATION
  flutter_riverpod: ^3.2.0
  go_router: ^17.0.1
  url_launcher: ^6.3.2
  package_info_plus: ^9.0.0
  two_dimensional_scrollables: ^0.3.7
  table_sticky_headers: ^2.0.5
  reactive_forms: ^18.2.2

  core: { path: ../core }
  mek: { path: ../../packages/mek_framework }
  mekart: { path: ../../packages/mekart }

dev_dependencies:
  mek_lints: ^6.0.1

  build_runner: ^2.10.4
  mek_data_class_generator: ^4.2.0
  json_serializable: ^6.11.2
  go_router_builder: ^4.1.3

  teledart: ^0.6.1

flutter:
  uses-material-design: true
  assets:
    # mek_assets GENERATED CODE - DO NOT MODIFY BY HAND
    - assets/ravioli/ravioli_carne.png
    - assets/ravioli/ravioli_gamberi.png
    - assets/ravioli/ravioli_verdure.png
    - assets/ravioli/ravioli_xiao_long_bao.png
    - assets/first_courses/spaghetti_uovo.png
    - assets/first_courses/riso_gamberetti.png
    - assets/first_courses/riso_cantonese.png
    - assets/first_courses/gnocchi_riso.png
    - assets/first_courses/spaghetti_udon.png
    - assets/first_courses/riso_verdure_miste.png
    # mek_assets

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

mek_assets:
  format: single
  page_width: 100
  groups:
    - input_dir: assets
      output_dir: lib/shared/data
      class_name: R
      output_file_name: r

flutter_icons:
  image_path: "assets/logo.png"
  android: true
  ios: true
  image_path_ios: "assets/logo_ios.png"
  web:
    generate: true
    background_color: "#ffffff"
    theme_color: "#ffffff"
  macos:
    generate: true
